menu "Cubicat Configuration"
	config DOUBLE_BUFFERING
		bool "Enable Display Double Buffering"
		default y
		help
			Enable display double buffering for higher preformance.

    config REMOVE_GRAPHIC_ENGINE
        bool "Remove Graphic Engine"
        default n
        help
            Remove embedded graphic engine.

    config USE_LINEAR_FILTER
        bool "Use Linear Filter"
        default y
        help
            Render Texture Use Bilinear interpolation.
        
endmenu