menu "Cubicat Configuration"
	config DOUBLE_BUFFERING
		bool "Enable Display Double Buffering"
		default y
		help
			Enable display double buffering for higher preformance.

    config REMOVE_GRAPHIC_ENGINE
        bool "Remove Graphic Engine"
        default n
        help
            Remove embedded graphic engine.

    config ENABLE_BILINEAR_FILTER
        bool "Enable Bilinear Filter"
        default y
        help
            Render texture use bilinear interpolation if necessary. Get better result but affects drawing efficiency significantly
        
endmenu